#close-topic-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

#close-topic-button:hover {
  transform: rotate(90deg);
  color: var(--fireEngineRed);
}


#close-topic-button:not(:hover) {
  transform: rotate(0deg);
}

/* Content */

#topic-content {
  height: 83vh;
}


#topic-body {
  line-height: 1.6;
}

#side-menu {
  z-index: 9999;
}
