/* #data-topic {
  overflow: auto;
} */

#close-button {
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 4rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

#close-button:hover {
  transform: rotate(90deg);
  color: var(--fireEngineRed);
}

#close-button:not(:hover) {
  transform: rotate(0deg);
}

#input-topic-category {
  margin: 0;
}
/* #submit-button {
  position: absolute;
  z-index: 999;
} */

/* #new-topic-dialog, #modal-page {
  overflow: hidden; /* Hide scrollbars 
} */

