@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
  --antiFlashWhite: #edf2f4;
  --coolGray: #8d99ae;
  --spaceCadet: #2b2d42;
  --redPantone: #ef233c;
  --fireEngineRed: #d90429;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fireEngineRed);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
